<!-- 樣板一率用 ejs 副檔名 -->
<%- include('parts/html-head') %> <%- include('parts/html-navbar') %>
<div class="container">
  <h1>hi<%= name %></h1>
</div>
<%- include('parts/scripts') %> <%- include('parts/html-foot') %>
