<!-- 樣板一率用 ejs 副檔名 -->
<!-- ejs 路徑全部不要用 / 開頭 -->
<%- include('../parts/html-head') %>
  <%- include('../parts/html-navbar') %>

    <div class="container">

      <!-- 收尋功能 -->
      <div class="row">
        <div class="col">
          <div class="col-lg-3">
            <form class="d-flex">
              <input class="form-control me-2" type="search" name="search" placeholder="Search"
                value="<%= locals.query && query.search ? query.search :''%>" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <!-- 收尋功能 -->

      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Mobile</th>
                <th scope="col">Birthday</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i of rows){ %>
                <tr>
                  <td>
                    <%= i.sid %>
                  </td>
                  <td>
                    <%= i.name %>
                  </td>
                  <td>
                    <%= i.email %>
                  </td>
                  <td>
                    <%= i.mobile %>
                  </td>
                  <td>
                    <%= toDateString(i.birthday) %>
                  </td>
                  <td>
                    <%= i.address %>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination">

              <!-- 回到第一頁按鈕 -->
              <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=1">
                  <i class="fa-solid fa-angles-left"></i>
                </a>
              </li>
              <!-- 回到上頁按鈕 -->
              <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page - 1 %>">
                  <i class="fa-solid fa-angle-left"></i>
                </a>
              </li>


              <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){%>
                  <li class="page-item <%= page===i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>

                    <!-- 下一頁按鈕 -->
                    <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= page + 1 %>">
                        <i class="fa-solid fa-angle-right"></i>
                      </a>
                    </li>
                    <!-- 最後一頁按鈕 -->
                    <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= totalPages %>">
                        <i class="fa-solid fa-angles-right"></i>
                      </a>
                    </li>


            </ul>
          </nav>
        </div>
      </div>
    </div>

    <%- include('../parts/scripts') %>
      <%- include('../parts/html-foot') %>